:root {
	--blue-bg:#2799f0;
	--white-br: #fdfdfd;
	--nav-link:#ababab;
	--logo-text: #1e212d;
	--shadow:rgba(82,105,122,.4);
}

* {
	font-family: work sans,sans-serif;
}

h1 {
	font-size: clamp(1.8rem, 2.5vw ,2.2rem);
   font-weight: 600;
}

p {
	font-size: clamp(0.9rem,2.5vw,1.1rem);
   line-height: 1.6rem;
	font-family: work sans,sans-serif;
}

h2 {
	font-size: clamp(1rem, 2.5vw, 1.9rem);
	font-weight: 400;
}

h3 {
	font-size: clamp(1.1rem,2.5vw,1.6rem);
   font-weight: 600;
}

h5 {
	font-size: 0.63em;
}

a,
.post-container a {
	text-decoration: none;
}

nav {
	background: var(--white-br);
	box-shadow: 0 0 29px 2px var(--shadow);
}

.navbar ul, 
.social-bar,
.post-container {
	list-style: none;
}

.nav-link {
	color: var(--nav-link);
	text-decoration: none;
}
.nav-link:hover {
	color: var(--blue-bg);
}

.logo-content h2 {
	color: var(--logo-text);
	font-weight: 100;
}

.chevron-header {
	background-color: var(--blue-bg);
	clip-path: polygon(0 0,100% 0%,100% 75%,50% 100%,0 75%);
}

.page-title {
	font-size: clamp(1.6rem, 2.5vw, 1.9rem);
	font-weight: 400;
	color: var(--blue-bg);
}

.content h1,
.content p {
	color: var(--white-br);
}

.icon {
	background-color: var(--white-br);
}

/* TO DO change fill color for the SVG instead of background for image*/
.icon img:hover {
	background: var(--blue-bg);
}

.blog-header {
	color: var(--logo-text);
	text-align: center;
}

.tabcontent h3,
.article-card h3,
.post-details h5,
.post-lead {
	color: var(--logo-text);
}

.tabcontent h3 {
	font-size: clamp(1.1rem,2.5vw,1.4rem);
   font-weight: 400;
}

p.sub,
.tabcontent p {
	color: var(--nav-link);
	font-size: .8rem;
}

.card-content {
	display: block;
	font-size: 1.5rem;
}

.card-content h3 {
	display: block;
	padding: 0;
}

.post-details h5 {
	display: block;
	margin: 0;
   text-transform: capitalize;
}

.sub {
	text-transform: capitalize;
	color: var(--nav-link);
}

.article-card {
	box-shadow: 0 0 29px 2px var(--shadow);
	opacity: 0.8;
}
.article-card:hover {
	opacity: 1;
	box-shadow: 0 0 29px 2px rgba(64, 106, 138, 0.4);
}

.avatar#phil {
	background: linear-gradient(to bottom right,#f12711,#f5af19);
}

.avatar#koto {
	background: linear-gradient(to bottom left, #c21858, #FF8EB9);
}

footer {
	background: linear-gradient(to top, #eee 60%, #52697a 180%);
}

.article-card[post-lead="true"] {

	@container (max-width: 375px) {
		h3 {
			font-size: 0.9rem;
		}
	}

	@container (min-width: 375px) {
		p {
			font-size: clamp(1rem, 2.5vw, 1.2rem);
		}
		h3 {
			font-size: clamp(1.2rem, 2.5vw, 1.4rem);
		}
	}

	@container (min-width: 776px) {
		h3 {
			font-size: 1.1rem;
		}
		p {
			font-size: 0.9rem;
		}
	}
}
